.Rproj.user
.Rhistory
.RData
.Ruserdata
NotesDoNotShare.txt
Output LLSIMBUMtripExample
NB2matrixNoEffort.rds
.Rproj.user/54B02B08/sources/prop/INDEX
.Rproj.user/54B02B08/pcs/workbench-pane.pper
.Rproj.user/54B02B08/pcs/windowlayoutstate.pper
.Rproj.user/54B02B08/pcs/source-pane.pper
*.pper
